@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Web based kemono.su and coomer.su downloader that allows you to select any attachment from artists kemono website and then download it as a ZIP file. More informations available on <a href="https://github.com/DNStorage/Kemono-Coomer-Downloader-WEB-APP">GitHub</a> © DNStorage</p>
