@model ImagesRequest
@{
    ViewData["Title"] = "Images Redirect";
}

<h2>Redirect to Images</h2>

<form id="imagesForm" method="post" action="/Home/Images">
    <div class="form-check">
        <i>Selection between Coomer and Kemono only matters, if you don't provide the full link but only the route (check github page for further information about links)</i><br />
        <input type="radio" name="Site" value="Kemono" checked/>
        <label class="form-check-label" for="flexCheckChecked">
            Kemono
        </label>
        <input type="radio" name="gender" value="Coomer" />
        <label class="form-check-label" for="flexCheckChecked">
            Coomer
        </label>
    </div>
    <div class="form-check">
        <input asp-for="FilterFuta" value="true" class="form-check-input" checked />
        <label class="form-check-label" for="flexCheckChecked">
            Try to filter FUTA content
        </label>
    </div>
    <div class="input-group mb-3" style="width: 50%;">
        <input type="text" class="form-control" id="urlInput" name="Url" required placeholder="Enter a URL" aria-label="Enter a URL" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
    </div>
    <input type="hidden" name="Page" value="0" />
</form>