@{
    ViewData["Title"] = "Images Redirect";
}

<h2>Redirect to Images</h2>

<form id="imagesForm" method="post" action="/Home/Images">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="FilterFuta" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Try to filter FUTA content
        </label>
    </div>
    <div class="input-group mb-3" style="width: 50%;">
        <input type="text" class="form-control" id="urlInput" name="Url" required placeholder="Enter a URL" aria-label="Enter a URL" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
    </div>
    <input type="hidden" name="Page" value="0" />
</form>