@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Web based kemono.su downloader that allows you to select any attachment from artists kemono website and then download it as a ZIP file. © DNStorage</p>
